#bg { 
    position: absolute; 
    top: 0px;
    left: 0px;
    z-index: -1000;
}

body { 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
}

.menu-row td { 
    padding-bottom: 22px;
}
.menu-row label {
    padding-right: 22px;
}

#destination ul {
    list-style: none;
    background: #eee;
    border: 1px solid #dadada;
    border-radius: 5px;
    text-align: center; 
    margin: 10px auto;
}

#destination span { 
    display: inline-block;
    vertical-align: center;
}

#destination li { 
    display: inline;
    margin: auto 5px;
}

#destination li.k-selected { 
    background-color: #f0713a;
    color:white;
}; 
